@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Indie+Flower&family=M+PLUS+2:wght@100;300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Indie Flower', cursive;
}
.contenedor{
  width: 100%;
  height: 100vh;
  background-color: #b18aff;
}
.gradoUno, .gradoDos{
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.contenedor, .contenido, .contenidoo, #temp,
#resultado{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.contenidoo{
  width: 40em;
  height: 35em;
  flex-direction: column;
  border-radius: .7em;
  background-color: rgb(131, 0, 206);
  box-shadow: 10px 10px 0px rgb(85, 0, 134);
}
#temp, #resultado{
  border: none;
  border-radius: .5em;
  outline: none;
  font-size: 25px;
  font-family: 'M PLUS 2', sans-serif;
  background-color: #333;
  width: 13rem;
  height: 4rem;
}
.igual{
  font-size: 2em;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
select, option{
  background-color: rgb(181, 85, 255);
  border: none;
  border-radius: .6em;
  outline: none;
  padding: .7em;
  font-size: 20px;
  box-shadow: none;
}
select option:checked {
  background-color: #b685ff;
}


